env.mk
backend/api-client/
backend/api-client/.openapi-generator/
!backend/api-client/.openapi-generator-ignore
backend/api-service/.openapi-generator/
backend/api-service/api/
backend/api-service/src/api*.go
backend/api-service/src/logger.go
backend/api-service/src/model_*.go
backend/api-service/src/routers.go
backend/api-service/main.go
backend/api-service/README.md

webui/api-client
