# Configure all these variables for your project/application

# TODO: Replace these values with:
#  - YOUR project id.
#  - YOUR desired cluster name to be created via 'make cluster'.
#  - YOUR verified custom domain.
PROJECT_ID=project-id
CLUSTER_NAME=my-gke-cluster
DOMAIN=my-zone.cloud-tutorial.dev

# Parameters for code generation
# These must always match the module declaration in backend/go.mod
# i.e. `module github.com/${GIT_USER_ID}/${GIT_REPO_ID}
GIT_USER_ID=GoogleCloudPlatform
GIT_REPO_ID=cloud-run-anthos-reference-web-app

# Cluster information. Uses defaults if cluster does not exist
CLUSTER_LOCATION=$(or $(shell gcloud --project $(PROJECT_ID) container clusters list --filter="name:$(CLUSTER_NAME)" --format="value(location)" ), us-west1-a)
CLUSTER_GKE_VERSION=$(or $(shell gcloud --project $(PROJECT_ID) container clusters list --filter="name:$(CLUSTER_NAME)" --format="value(currentMasterVersion)"), 1.15)

# Cloud DNS managed zone name
MANAGED_ZONE_NAME=$(or $(shell gcloud --project=$(PROJECT_ID) dns managed-zones list --format="value(name)" --filter="dnsName:$(DOMAIN)"), $(shell exit 1))

# Namespace to be used by app and KCC resources
NAMESPACE=app

# Istio Ingress information
ISTIO_INGRESS_SERVICE=istio-ingress
ISTIO_INGRESS_NAMESPACE=gke-system

# Backend service name
BACKEND_IMAGE_NAME=backserv
BACKEND_SERVICE_NAME=$(BACKEND_IMAGE_NAME)
BACKEND_SERVICE_HOST_NAME=$(BACKEND_SERVICE_NAME).$(NAMESPACE).example.com

# SSL certificate name (will be created if it doesn't already exist)
# If you already have an SSL certificate associated with your domain,
# you can find its name at https://console.cloud.google.com/net-services/loadbalancing/advanced/sslCertificates/list
SSL_CERT_NAME=web-app-ssl-certificate

# Workload Identity service account names
BACKEND_KSA=$(NAMESPACE)-$(BACKEND_SERVICE_NAME)
BACKEND_GSA=ksa-$(BACKEND_KSA)

USER_SVC_NAME=usersvc
USER_SVC_IMAGE_NAME=$(USER_SVC_NAME)
USER_SVC_HOST_NAME=$(USER_SVC_NAME).$(NAMESPACE).example.com

USER_SVC_KSA=$(NAMESPACE)-$(USER_SVC_NAME)
USER_SVC_GSA=ksa-$(USER_SVC_KSA)
