# Template file for e2e testing
PROJECT_ID=${PROJECT_ID}
CLUSTER_NAME=e2e-test-${BUILD_ID}
DOMAIN=$(CLUSTER_NAME).thisisatest.app

GIT_USER_ID=GoogleCloudPlatform
GIT_REPO_ID=cloud-run-anthos-reference-web-app

# Cluster information. Uses defaults if cluster does not exist
CLUSTER_LOCATION=$(or $(shell gcloud --project $(PROJECT_ID) container clusters list --filter="name:$(CLUSTER_NAME)" --format="value(location)" ), us-west1-a)
CLUSTER_GKE_VERSION=$(or $(shell gcloud --project $(PROJECT_ID) container clusters list --filter="name:$(CLUSTER_NAME)" --format="value(currentMasterVersion)"), 1.15)

# Cloud DNS managed zone name
MANAGED_ZONE_NAME=$(or $(shell gcloud --project=$(PROJECT_ID) dns managed-zones list --format="value(name)" --filter="dnsName:$(DOMAIN)"), $(shell exit 1))

# Namespace to be used by app and KCC resources
NAMESPACE=app

# Istio Ingress information
ISTIO_INGRESS_SERVICE=istio-ingress
ISTIO_INGRESS_NAMESPACE=gke-system

# Backend service name
BACKEND_IMAGE_NAME=backserv
BACKEND_SERVICE_NAME=$(BACKEND_IMAGE_NAME)
BACKEND_SERVICE_HOST_NAME=$(BACKEND_SERVICE_NAME).$(NAMESPACE).example.com

SSL_CERT_NAME=${CLUSTER_NAME}-ssl-certificate

# Workload Identity service account names
BACKEND_KSA=$(CLUSTER_NAME)-$(NAMESPACE)-$(BACKEND_SERVICE_NAME)
BACKEND_GSA=ksa-$(BACKEND_KSA)
