rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
    
      function isAdmin() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
      }
    
      allow read, create: if request.auth.id == userId || isAdmin()
      allow update: if isAdmin()
    }
  }
}